@import url(../vendor/normalize.css);

@import url(../fonts/inter.css);

@import url(../blocks/root/root.css);

@import url(../blocks/body/body.css);
@import url(../blocks/main/main.css);
@import url(../blocks/text/text.css);

@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/separator/header__separator.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/avatar/avatar.css);
@import url(../blocks/avatar-container/avatar-container.css);
@import url(../blocks/avatar-edit-icon/avatar-edit-icon.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/button/button.css);
@import url(../blocks/edit-button/edit-button.css);
@import url(../blocks/add-button/add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/like-button/like-button.css);
@import url(../blocks/like/like.css);
@import url(../blocks/like-counter/like-counter.css);
@import url(../blocks/like/_active/like_active.css);
@import url(../blocks/delete-button/delete-button.css);
@import url(../blocks/delete-button/_inactive/delete-button_inactive.css);

@import url(../blocks/dialog-container/dialog-container.css);
@import url(../blocks/dialog-container/_is/dialog-container_is-visible.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is/popup_is-opened.css);
@import url(../blocks/avatar-popup/avatar-popup.css);
@import url(../blocks/avatar-popup/__title/avatar-popup__title.css);
@import url(../blocks/confirmation-popup/confirmation-popup.css);
@import url(../blocks/confirmation-popup/__title/confirmation-popup__title.css);
@import url(../blocks/form-popup/form-popup.css);
@import url(../blocks/form-popup/__title/form-popup__title.css);
@import url(../blocks/form-popup/__container/form-popup__container.css);
@import url(../blocks/image-popup/image-popup.css);
@import url(../blocks/image-popup/__image/image-popup__image.css);
@import url(../blocks/image-popup/__title/image-popup__title.css);
@import url(../blocks/close-button/close-button.css);
@import url(../blocks/save-button/save-button.css);
@import url(../blocks/save-button/_inactive/save-button_inactive.css);

@import url(../blocks/input/input.css);

@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input-error/_active/form__input-error_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
